.blog h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.blog p {
    line-height: 150%;
    font-size: 18px;
}


.blog .cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 25px;
    padding: 30px 0;
}

@media (max-width: 550px) {
    .blog .cards {
        justify-content: center;
    }
}