main.getinvolved {
    height: 100vh;
    background: linear-gradient(var(--bg-light-blue) 70%, var(--bg-dark-blue));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}