.home .cover {
    height: 100vh;
    height: 100svh;
    padding-top: var(--header-height);
    background: linear-gradient(to right, hsl(190, 78%, 36%) 30%, hsl(214, 94%, 27%));
    /* background-image: url("/pic.jpg"); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-color: #798DC5; */
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    color: var(--dark-text);
    position: relative;
    overflow: hidden;
}

.home .cover .content {
    /* background-color: rgba(255, 255, 255, 0.4); */
    padding-left: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.home .cover #logo {
    width: 300px;
    filter: invert(100%) hue-rotate(100deg);
    margin-bottom: 20px;
}

.home .cover .illustration {
    width: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.home .cover .antenna {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
    transform: translateX(50%);
}

.home .cover h1 {
    font-size: 80px;
    text-shadow: 2px 2px 5px #0057ff;
    font-family: 'Anton';
    color: #d9fffe;
    line-height: 60px;
    /* text-transform: capitalize; */
    /* letter-spacing: 15px; */
    /* background-color: black; */
    /* text-align: center; */
}
.home .cover h2 {
    font-size: 30px;
    /* background-color: black; */
    /* text-transform: uppercase; */
    /* text-align: center; */
    max-width: 800px;
    font-weight: normal;
}
.home .cover h3 {
    font-size: 35px;
    /* background-color: black; */
    text-transform: capitalize;
}

.home .cover span{
    font-size: 120%;
    font-weight: 600;
}





.home .about{
    display: flex;
    /* justify-content: center; */
    align-items: left;
    /* flex-direction: column; */
    text-align: left;
    color: rgb(0, 0, 70);
}

.home .about .content {
    /* background-color: rgba(255, 255, 255, 0.4); */
    width: 95%;
    max-width: 700px;
    margin: 80px auto;
    padding: 0px 10px;
    border-radius: 15px;
    display: flex;
    align-items: left;
    text-align: left;
}

.home .about .content div h1{
    font-size: 50px;
}

.home .about .content div h2{
    font-size: 20px;
    font-weight: 800;
}
.home .about .content div p{
    font-size: 20px;
    text-align: justify;
    line-height: 170%;
}



.initiatives {
    /* background-color: #ccdbf8; */
    background-color: #d5e5ff;
    color: var(--dark-text);
    padding: 40px 50px;
}

.initiatives .container {
    display: flex;
    justify-content: center;
}

.initiatives h1 {
    font-size: 45px;
    margin-bottom: 70px;
    margin-left: 100px;
}

.initiatives .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    column-gap: 40px;
    row-gap: 10px;
    margin: 50px 0px;
}

.initiatives .content .section {
    padding: 40px 20px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 200ms;
    border-radius: 10px;

    --base-delay: 100ms;
    visibility: hidden;
}

.initiatives .content .section.visible {
    visibility: visible;
}

.initiatives .content .section h2 {
    font-size: 35px;
    border-radius: 50%;
    border: 5px solid var(--dark-text);
    width: 70px;
    height: 70px;
    line-height: 60px;
    text-align: center;
}

.initiatives .content .section p {
    text-align: center;
    font-size: 22px;
    line-height: 150%;
}

.initiatives .content .section:hover {
    /* border-color: #dddddd; */
    box-shadow: #001d5360 0px 0px 3px 3px;
}


.initiatives .content .section:nth-child(1) {
    --animate-delay: calc(1 * var(--base-delay));
}

.initiatives .content .section:nth-child(2) {
    --animate-delay: calc(2 * var(--base-delay));
}

.initiatives .content .section:nth-child(3) {
    --animate-delay: calc(3 * var(--base-delay));
}

.initiatives .content .section:nth-child(4) {
    --animate-delay: calc(4 * var(--base-delay));
}

.initiatives .content .section:nth-child(5) {
    --animate-delay: calc(5 * var(--base-delay));
}









.home .testimonials{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: left;
    /* flex-direction: column; */
    text-align: left;
    color: rgb(0, 0, 70);    
}

.home .testimonials .content {
    /* background-color: rgba(255, 255, 255, 0.4); */
    width: 55%;
    padding-left: 70px;
    border-radius: 15px;
    display: flex;
    align-items: left;
    text-align: left;
    padding-top: 50px
}




/* COVER  */


@media (max-width: 1200px) {
    .home .cover .illustration {
        width: 400px;
        max-width: 95%;
    }

    .home .cover .antenna {
        width: 300px;
        max-width: 95%;
    }

    .home .cover h1 {
        font-size: 60px;
    }

    .home .cover h2 {
        font-size: 25px;
        max-width: 600px;
    }
}


@media (max-width: 1000px) {
    .home .cover {
        align-items: center;
        justify-content: left;
        padding-top: calc(var(--header-height) + 100px);
    }

    .home .cover .content {
        padding: 0;
    }

    .home .cover .illustration, .home .cover .antenna {
        opacity: 0.6;
        left: 50%;
    }

    .home .cover h1, .home .cover h2 {
        text-align: center;
    }

    .home .cover .illustration {
        transform: translateX(-50%);
    }

    .home .cover .antenna {
        transform: translateX(15%);
    }
}


@media (max-width: 600px) {
    .home .cover {
        padding-top: calc(var(--header-height) + 70px);
        background: linear-gradient(to right, #148CA3 30%, #064689);
    }

    .home .cover h1 {
        font-size: 50px;
    }

    .home .cover h2 {
        font-size: 23px;
        max-width: 500px;
        padding: 0px 10px;
    }
}

@media (max-width: 400px) {
    .home .cover h2 {
        font-size: 20px;
    }
}





/* ABOUT SECTION */

@media (max-width: 550px) {
    .home .about .content div h1 {
        font-size: 35px;
    }
    
    .home .about .content div h2 {
        font-size: 18px;
    }
    
    .home .about .content div p {
        font-size: 17px;
    }
}