.home .cover {
    height: 100vh;
    height: 100svh;
    /* padding-top: var(--header-height); */
    padding-top: 30px;

    background: linear-gradient(to right, hsl(190, 78%, 36%) 30%, hsl(214, 94%, 27%));
    /* background: linear-gradient(to right, hsl(197.72deg 71.47% 46.2% / 80%) 30%, hsl(214deg 87.4% 30.84%));
    /* background-size: cover; */
    /* background-position: center; */
    /* background-color: #798DC5; */
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    color: var(--dark-text);
    position: relative;
    overflow: hidden;
}

.home .cover .content {
    /* background-color: rgba(255, 255, 255, 0.4); */
    padding-left: 60px;
    /* border-radius: 20px; */
    /* display: table-column; */
    /* align-items: left; */
    /* position: absolute; */
    /* z-index: 10; */
}

/* .home .cover #logo {
    width: 300px;
    filter: invert(100%) hue-rotate(100deg);
    margin-bottom: 20px;
} */

.home .cover .illustration {
    width: 40%;
    max-width: 95%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.home .cover .antenna {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    max-width: 95%;
    transform: translateX(50%);
}
/* 
.home .cover h1 {
    font-size: 80px;
    text-shadow: 2px 2px 5px #0057ff;
    font-family: 'Anton';
    color: #d9fffe;
    line-height: 60px;
    text-transform: capitalize;
    letter-spacing: 15px;
    background-color: black;
    text-align: center;
} */

.home .cover h2 {
    font-size: 30px;
    /* background-color: black; */
    /* text-transform: uppercase; */
    /* text-align: center; */
    max-width: 55%;
    font-weight: 500;
}

.home .cover h3 {
    font-size: 25px;
    /* background-color: black; */
    text-transform: capitalize;
    font-weight: 400;
    max-width: 40%;
    /* font-weight: bold; */
}

.home .cover span{
    font-size: 120%;
    font-weight: 700;
}





.home .about{
    display: flex;
    /* justify-content: center; */
    align-items: left;
    /* flex-direction: column; */
    text-align: left;
    color: rgb(0, 0, 70);
}

.home .about .content {
    /* background-color: rgba(255, 255, 255, 0.4); */
    width: 95%;
    max-width: 700px;
    margin: 80px auto;
    padding: 0px 10px;
    border-radius: 15px;
    display: flex;
    align-items: left;
    text-align: left;
}

.home .about .content div h1{
    font-size: 50px;
}

.home .about .content div h2{
    font-size: 20px;
    font-weight: 800;
}
.home .about .content div p{
    font-size: 20px;
    text-align: justify;
    line-height: 170%;
}






/* COVER  */


@media (max-width: 1250px) {
    .home .cover .antenna {
        width: 300px;
    }

    /* .home .cover h1 {
        font-size: 60px;
    } */

    .home .cover h2 {
        font-size: 25px;
        max-width: 600px;
    }
}


@media (max-width: 1000px) {
    .home .cover {
        align-items: center;
        justify-content: left;
        padding-top: calc(var(--header-height) + 50px);
    }

    .home .cover .content {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home .cover .illustration, .home .cover .antenna {
        /* opacity: 0.7; */
        left: 40%;
    }

    .home .cover h2, .home .cover h3 {
        text-align: center;
        max-width: 600px;
    }

    .home .cover .illustration {
        width: 400px;
        transform: translateX(-50%);
    }

    .home .cover .antenna {
        width: 350px;
        transform: translateX(15%);
    }
}


@media (max-width: 600px) {
    .home .cover {
        /* padding-top: calc(var(--header-height) + 70px); */
        background: linear-gradient(to right, #148CA3 30%, #064689);
    }

    /* .home .cover h1 {
        font-size: 50px;
    } */

    .home .cover h2 {
        font-size: 20px;
        padding: 0px 10px;
    }

    .home .cover h3 {
        font-size: 20px;
    }
}



@media (max-width: 400px) {
    .home .cover h2 {
        font-size: 20px;
    }
}





/* ABOUT SECTION */

@media (max-width: 550px) {
    .home .about .content div h1 {
        font-size: 35px;
    }
    
    .home .about .content div h2 {
        font-size: 18px;
    }
    
    .home .about .content div p {
        font-size: 17px;
    }
}