.tab-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.tab-label {
  cursor: pointer;
  padding: 8px;
  border: 1px solid  #0a0823bb;
  border-radius:5px;
  user-select: none;
  transition: 200ms;
}

.tab-label.active {
  background-color: rgb(14, 14, 69);
  color: var(--light-text);
  color: #fff;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map {
  display: none;
  width: 105%;
  max-width: 450px;
  height: 450px;
}

.map.active {
  display: block;
}

.content{
  text-align: center;
  padding: 20px;
}

.content .tab-labels{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map iframe{
  border-radius: 5px;
  width: 100%;
}