main.nodalcentres {
    height: 100vh;
    /* background: linear-gradient(to right, hsl(190, 78%, 36%) 30%, hsl(214, 94%, 27%)); */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodalcentres h1 {
  color: var(--dark-text);
}

.iframe-container {
    display: flex; /* Use flexbox to arrange iframes horizontally */
    justify-content: space-between; /* Add space between iframes */
}

/* Style individual iframes */
iframe {
    border: 4px solid rgb(0, 0, 0); /* Add a border to each iframe */
    margin-right: 10px; /* Add spacing between iframes */
    width: 350px; /* Set a specific width for each iframe */
    height: 350px; /* Set a specific height for each iframe */
}
.nodalselect {
    width: 200px; /* Set a specific width for the dropdown */
    padding: 10px; /* Add padding to the dropdown */
    font-size: 16px; /* Adjust the font size */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #fff; /* Set background color */
    color: #333; /* Set text color */
    cursor: pointer; /* Show a pointer cursor on hover */
}
  
.nodalselect:hover {
    border-color: #007bff; /* Change border color on hover */
}

label {
  font-size: 18px; /* Adjust the font size */
  font-weight: 600;
  color: var(--dark-text); /* Set text color */
  margin-bottom: 10px; /* Add space below the label */
  display: block;
  text-transform: uppercase;
}
