@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Anton&display=swap');

:root {
	--light-text: #dddddd;
	--dark-text: #000046;
	--bg-light-blue: #66a7d2;
	--bg-dark-blue: #001d53;
	/* --bg-dark-blue: #0d0d69; */

	--accent: #070067;
	--accent-transparent: #2a229684;

	--footer-height: 70px;
}

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #ffffff;
}

#favicon {
	filter: invert(100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (any-hover: none) {
	* {
		cursor: default !important;
	}
}