main.aboutus {
    min-height: 100vh;
}

.aboutus .heading {
    height: 400px;
    background-image: url("/pic.jpg");
    background-size: cover;
    background-position: 0% 35%;
}

.aboutus .heading .container {
    background-color: #000000bb;
    color: var(--light-text);
    height: 100%;
    padding-top: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.aboutus .heading .container h1 {
    font-size: 60px;
}

.aboutus .heading .container h2 {
    font-size: 25px;
    text-transform: uppercase;
}


.aboutus .content {
    padding: 50px 20px;
    max-width: 850px;
    margin: 0px auto;
}

.aboutus .content h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.aboutus .content .cards .card h2 {
    text-align: center;
    margin: 30px 0px 40px 0px;
    font-size: 30px;
}

.aboutus .content p {
    text-align: justify;
    font-size: 20px;
    line-height: 170%;
}




.aboutus .content .cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 2%;
    margin-bottom: 40px;
}

.aboutus .content .cards .card {
    width: 32%;
    background-color: #fdfdfd;
    color: var(--dark-text);
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: -1px 1px 5px 1px #43abc079;
    transition: 200ms;
    /* cursor: pointer; */
}

.aboutus .content .cards .card:hover {
    box-shadow: -2px 2px 5px 1px #43abc0a2;
}

.aboutus .content .cards .card h2 {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}

.aboutus .content .cards .card p {
    font-size: 15px;
    text-align: center;
    line-height: 120%;
    /* text-rendering: auto;
    text-indent: 2px; */
}

.aboutus .content .cards .card h3{
    text-align: center;
    font-size: 17px;
    margin-bottom: 2px;
}

.aboutus .content .cards .card div{
    display: flex;
}

.aboutus .content .cards .card div a img{
    align-items: center;
    max-width: 50px;
    max-height: 20px;
}
.aboutus .content .cards .card div a{
    align-items: center;
}

.aboutus .content img {
    max-width: 100%;
    align-items: center;
}

.aboutus .content .teamcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.aboutus .coreteam {
    margin-bottom: 80px;
}

.aboutus .coreteam h1 {
    font-size: 40px;
}

.aboutus .content h2 {
    margin: 30px 0px;
}

.aboutus .coreteam .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}

.aboutus .coreteam .cards .card h2 {
    margin-bottom: 0px;
}

.aboutus .coreteam .cards .card>img {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 20px;
}

.aboutus .coreteam .cards .card .designation {
    display: block;
    margin: 20px 0px;
}

#email{
    filter: invert(100%);
}



.aboutus .content .otherteam {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0px 30px;
}

.aboutus .content .otherteam .member {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.aboutus .content .otherteam .member img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #002261;
    transition: 400ms;
}

.aboutus .content .otherteam .member div {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) translateY(5px);
    background-color: #fbfbfb;
    box-shadow: 0px 0px 5px 2px #dddddd;
    padding: 10px 50px;
    display: none;
    opacity: 0;
}

.aboutus .content .otherteam .member div::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fbfbfb;
    box-shadow: -1px -1px 1px 0px #dddddd;
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.aboutus .content .otherteam .member:hover div {
    display: block;
    animation-name: fadein;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
} 

.aboutus .content .otherteam .member div h3 {
    font-size: 18px;
}

.aboutus .content .otherteam .member div p {
    font-size: 15px;
}



@media (max-width: 600px) {
    .aboutus .heading .container h1 {
        font-size: 45px
    }

    .aboutus .heading .container h2 {
        font-size: 20px;
    }
}



@media (max-width: 500px) {
    .aboutus .content p {
        font-size: 18px;
    }
}


@media (max-width: 400px) {
    .aboutus .heading .container h1 {
        font-size: 35px;
    }

    .aboutus .heading .container h2 {
        font-size: 18px;
    }
}


/* CARDS */

@media (max-width: 810px) {
    .aboutus .content .cards .card {
        width: 48%;
    }
}

@media (max-width: 550px) {
    .aboutus .content .cards .card {
        width: 95%;
        max-width: 350px;
    }
}